.cardBox {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .cardBox:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }
  
  .postMediaImg {
    border-radius: 8px;
    width: 100%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  