/* Availability.css

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f9;
} */
/* AddTimeSlot.css */

/* General container styling */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 20px;
}

.manage-clinic-container {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px #2E8B57;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.manage-clinic-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.manage-clinic-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: -2px;
  transition: background-color 0.3s ease;
}

.manage-clinic-container button:hover {
  background-color: #45a049;
}

.clinic-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.clinic-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Modal styling */
/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  z-index: 1000;
} */

 #time-slot h2{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333333;
}

.modal form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 15px;
  color: #555555;
}

 input, select {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 8px;
  width: 100%;
  
}

select:hover{
  border: 2px solid #2E8B57;
}
input:hover{
  border: 2px solid #2E8B57;
}

 #btn{
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8px;
}

 #btn:hover {
  background-color: #0056b3;
}

#btn-cancel{
  background-color: #f44336;
  margin-top: 10px;
}

#btn-cancel:hover {
  background-color: #d32f2f;
}

/* Responsive design */
@media (max-width: 768px) {
  .manage-clinic-container {
      width: 90%;
  }

  .modal {
      width: 90%;
  }
}

@media (max-width: 480px) {
   h2 {
      font-size: 10px;
  }

  input, .modal select {
      font-size: 12px;
  }

  .modal button {
      font-size: 14px;
  }
}
