/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
}

/* Container Styles */
.add-clinic-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #2E8B57;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 600px;
}

.add-clinic-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #2E8B57;
}

/* Card Styles */
.clinic-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #2E8B57;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 500px;
}

.clinic-form:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px #2E8B57;
}

/* Form Input Styles */
.clinic-form label {
    display: block;
    margin-bottom: -15px;
    font-weight: bold;
    color: #333;
    margin-top: -20px;
}

.clinic-form input {
    width: calc(100% - 30px);
    padding: 6px;
    margin-bottom: -25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.clinic-form input:hover {
    border-color: #2E8B57;
    box-shadow: 0 0 9px #2E8B57;
}

.clinic-form input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Submit Button Styles */
#submit{
    background: #007bff;
    color: #fff;
    padding: 8px;
    margin-top: -5px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit:hover{
    background-color: #0056b3;
}

/* Toggle Button Styles */
.toggle-form-button {
    background: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.toggle-form-button:hover {
    background-color: #218838;
}

/* Responsive Design */
@media (max-width: 768px) {
    .clinic-form {
        padding: 15px;
    }

    .submit-button, .toggle-form-button {
        padding: 8px 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .clinic-form {
        width: 90%;
    }
}
